{{ $id := .Get "src" }}

{{ $poster := print (.Get "src") ".jpg" }}
{{ $videoMp4 := print (.Get "src") ".mp4" }}
{{ $videoWebm := print (.Get "src") ".webm" }}




<div class="video" id="video_{{ $id }}">
<img class="video__poster" src="{{ $poster }}" alt="">
<video class="video__player" controls="controls" poster="{{ $poster }}">
<source src="{{ $videoMp4 }}" type="video/mp4">
<source src="{{ $videoWebm }}" type="video/webm">
</video>
</div>

<script>
$('#video_{{ $id }} > video').hide();
$('#video_{{ $id }} > img').click( function() {
  $('#video_{{ $id }} > img').hide();
  $('#video_{{ $id }} > video').show();
  $('#video_{{ $id }} > video').get(0).play();
});
</script>