<!doctype html>
<html lang="en">

{{ partial "head.html" . }}
{{ partial "bootstrap-js.html" . }}

<body class="nojs page-{{.File.ContentBaseName}}">
  {{ partial "nav.html" . }}
  {{ if .Params.Header }}
  <div class="bigimage" style="background-image: url({{ .Params.Header | relLangURL }})">
    {{- if .Params.headline -}}
    <h1 class="headline">{{ .Params.headline  }}</h1>
    {{- end -}}
  </div>
  {{ else if .Params.slides }}
  
  <div class="slides">
    {{ range .Params.slides }}
    <div class="slide" style="background-image: url({{ .image | relLangURL }})">
      <div class="slide-text">{{.text}}</div>
    </div>
    {{ end }}
  </div>
  {{ else }}
  <div class="nohero">
    <h1 class="headline">{{ .Params.headline  }}</h1>
  </div>
  {{ end }}
  <div class="container">
    <article class="page-content">
      {{ block "main" . }}{{ end }}
    </article>
  </div>

  {{ partial "footer.html" . }}


  <!-- TODO  LOCAL JS/CSS -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script>
  $(document).ready(function(){
    $('body').removeClass('nojs')

    $(document.links).filter(function() {
        return this.hostname != window.location.hostname;
    }).attr('target', '_blank');
    
    var mainnavCats = $('.mainnav__el ')
    mainnavCats.click(function() {
      if($(this).hasClass('open')) {
        mainnavCats.removeClass('open')        
        $(this).addClass('closeaction')
      } else {
        mainnavCats.removeClass('open')
        $(this).addClass('open')
      }
    })
    mainnavCats.hover(function() {
      if($(this).hasClass('closeaction')) {
        $(this).removeClass('closeaction')
      } else {
        mainnavCats.removeClass('open')
        $(this).addClass('open')
      }
    })
    $('.nav-redline').click(function() {
      mainnavCats.removeClass('open')      
    })
    
    $('.slides').slick({
      autoplaySpeed: 4000,
      prevArrow: '<div class="slick-prev"><img src="{{ "/arrow-left.svg" | absURL }}"></div>',
      nextArrow: '<div class="slick-next"><img src="{{ "/arrow-right.svg" | absURL }}"></div>'
    });
    
    var allPanels = $('#faqaccordion .faq-answer')
    allPanels.addClass('collapse');
    $('#faqaccordion .faq-item:first-child .faq-answer').collapse('show');
    $('#faqaccordion .faq-item:first-child').addClass('open');
    // for (var p in allPanels) {
      // console.log(allPanels[p])
    // }
    $('#faqaccordion .faq-question').click(function() {
      allPanels.collapse('hide');
      allPanels.parent().removeClass('open');
      console.log($(this).parent().children('.faq-answer'))
      $(this).parent().addClass('open');
      $(this).parent().children('.faq-answer').collapse('show');
      return false;
    });
  });
  
  $('.custom-navbar').on('show.bs.collapse', function () {
    $('body').removeClass('nav-closed');
    $('body').addClass('nav-opened');
  })
  $('.custom-navbar').on('hidden.bs.collapse', function () {
    $('body').removeClass('nav-opened');
    $('body').addClass('nav-closed');
  })
  let test = '0';
  </script>
  {{ partial "google-analytics-async.html" . }}
  {{ partial "cookie-consent.html" . }}
</body>

</html>

