$primary-color: #e40d2c;
$secondary-color: #7b6f67;

body {
  background-color: #aaa;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $primary-color;
}

.custom-navbar {
  position: sticky;
  background-color: rgba(255,255,255,.6);
  #navbarText {
    .nav-redline {
      width: 100%;
      display: flex;
      align-items: flex-end;
      min-height: 120px;
      .nav-container {
        flex-grow: 1;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 15px;
          border-bottom:  1px solid $primary-color;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 45px;
          border-bottom:  1px solid $primary-color;
        }
      }
      .nav-before, .nav-after {
        flex-grow: 1;
        border-bottom:  1px solid $primary-color;
      }
    }
  }
}

.header__navs {
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 14px;
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.mainnav {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  .mainnav__el {
    display: block;
    z-index: 1;
    list-style: none;
    .mainnav__link {
      display: block;
      padding: .3em 2em 0 0;
      border-bottom: 4px solid transparent;
      text-transform: uppercase;
    }
    &:hover .mainnav__link {
      border-bottom: 4px solid $primary-color;
    }
    &:hover .subnav {
      display: flex;
    }
    .subnav {
      display: none;
      position: absolute;
      left: 0;
      margin: 0;
      padding: 0 0 0 30px;
      list-style: none;
      min-width: 90%;
      .subnav__el {
        list-style: none;
        display: flex;
        &:not(:last-child) {
          max-width: 16em;
        }
        &:last-child {
          flex-grow: 1;
        }
        .subnav__link {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          .subnav__name, .subnav__title {
            background: rgba(123, 111, 103, .6);
            color: #fff;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 10px;
          }
          &.subnav__filler {
            .subnav__name, .subnav__title {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
          }

          .subnav__name {
            letter-spacing: .03em;
            padding-top: 22px;
            padding-bottom: 3px;
            text-transform: uppercase;
            font-size: 10px;
            margin-bottom: 2px;
            position: relative;
            .subnav__fancy {
              display: block;
              position: absolute;
              bottom: -2px;
              height: 2px;
              left: 15px;
              right: 0;
              width: 0;
              background-color: $primary-color;
              transition: width .3s ease-in;
            }
          }
          &:hover {
            .subnav__fancy {
              width: calc(100% - 15px);
            }
          }
          .subnav__title {
            flex-grow: 1;
            padding-top: 5px;
            padding-bottom: 5px;
            min-height: 90px;
            line-height: 1.2em;
            .subnav__titletext {
              max-width: 16em;
            }
          }
          // .subnav__filler {
          //   .subnav__name, .subnav__title {
          //     background: rgba(123, 111, 103, .6);
          //     color: #fff;
          //     font-size: 10px;
          //   }
          // }
        }
      }
    }
  }
}

.langnav {
  text-transform: uppercase;
  padding-bottom: 4px;
  .langnav-active {
    font-weight: 700;
  }
  .langnav-link {
    
  }
}

.quote {
  color: $primary-color;
  font-family: 'Playfair Display', serif;
}
