$primary-color: #e40d2c;
$secondary-color: #7b6f67;

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* playfair-display-italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/playfair-display-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
       url('../fonts/playfair-display-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display-v15-latin-italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}





body {
  background-color: #fff;
  // font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  color: $primary-color;
}
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}
.custom-navbar {
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,.6);
  z-index: 5;
  .nav-redline {
    width: 100%;
    display: flex;
    align-items: flex-end;
    min-height: 100px;
    .nav-container {
      flex-grow: 1;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 15px;
        border-bottom:  1px solid $primary-color;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 45px;
        border-bottom:  1px solid $primary-color;
      }
    }
    .nav-before, .nav-after {
      flex-grow: 1;
      border-bottom:  1px solid $primary-color;
    }
  }
}

.header__logo {
  display: block;
}

.header__navs {
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 14px;
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-light {
    display: flex;
    flex-grow: 1;
}

.mainnav {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  .mainnav__el {
    display: block;
    z-index: 1;
    list-style: none;
    margin-right: 2em;
    .mainnav__link {
      display: block;
      padding: .9em 0 0 0;
      border-bottom: 4px solid transparent;
      text-transform: uppercase;
      cursor: default;
    }
    &:hover .mainnav__link {
      border-bottom: 4px solid $primary-color;
    }
    .subnav-wrp {
      position: absolute;
      left: 0;
      width: 100%;
      overflow: hidden;    
    }
    .subnav {
      display: none;
      margin: 0;
      padding: 0 0 0 30px;
      list-style: none;
      min-width: 90%;
      animation: nav-pop-out .3s;
      .subnav__el {
        list-style: none;
        display: flex;
        &:not(:last-child) {
          max-width: 16em;
        }
        &:last-child {
          flex-grow: 1;
        }
        .subnav__link {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          .subnav__name, .subnav__title {
            background: rgba(123, 111, 103, .6);
            color: #fff;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 10px;
          }
          &.subnav__filler {
            .subnav__name, .subnav__title {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
          }

          .subnav__name {
            letter-spacing: .03em;
            padding-top: 22px;
            padding-bottom: 3px;
            text-transform: uppercase;
            font-size: 10px;
            margin-bottom: 2px;
            position: relative;
            .subnav__fancy {
              display: block;
              position: absolute;
              bottom: -2px;
              height: 2px;
              left: 15px;
              right: 0;
              width: 0;
              background-color: $primary-color;
              transition: width .3s ease-in;
            }
          }
          &:hover {
            .subnav__fancy {
              width: calc(100% - 15px);
            }
          }
          .subnav__title {
            flex-grow: 1;
            padding-top: 5px;
            padding-bottom: 5px;
            min-height: 90px;
            line-height: 1.2em;
            .subnav__titletext {
              max-width: 16em;
            }
          }
          // .subnav__filler {
          //   .subnav__name, .subnav__title {
          //     background: rgba(123, 111, 103, .6);
          //     color: #fff;
          //     font-size: 10px;
          //   }
          // }
        }
      }
    }
    
    &:hover .subnav .nojs &, &.open .subnav {
      display: flex;
      animation: nav-pop .3s;
    }
  }
}

.phone-bt {
  .phone-bt__link {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px;
    padding: .2em .4em;
    line-height: 1em;
    margin-right: 1em;
  }
  .phone-bt__image {
    height: 1.4em;
  }
  .phone-bt__number {
    font-size: .85em;
    margin-left: .2em;
  }
}

.actionnav {
  margin: 0 10px;
  .actionnav__icon {
    display: inline-block;
    padding: 8px 7px 4px;
  }
}

.langnav {
  text-transform: uppercase;
  // padding-bottom: 4px;
  padding-top: .8em;
  font-size: .85em;
  .langnav-active {
    font-weight: 800;
  }
  .langnav-link {
    
  }
}


.page-content {
  font-size: 12px;
  color: $secondary-color;
  margin-bottom: 50vh;
  h1 {
    color: $secondary-color;
    font-size: 2.2em;
    font-weight: 800;
    text-align: center;
    margin: 1.3em 0 1em;
  }
  h2 {
    color: $primary-color;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
  }
  h3 {
    color: $primary-color;
    font-size: 1.5em;
    font-weight: 400;
    margin: 1em 0 .5em;
  }
  ul {
    padding-left: 2.2em;
    li {
      position: relative;
      list-style-type: none;
      &:before {
        position: absolute;
        content: "";
        border: 2px solid $primary-color;
        border-radius: 50%;
        width: .8em;
        height: .8em;
        top: 0;
        left: 0;
        margin-left: -1.4em;
        margin-top: .3em;
      }
    }
  }
  .quote {
    text-align: center;
    margin: 40px 0;
    padding: 0 5%;
    .quote-content {
      color: $primary-color;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-size: 3.8em;
      line-height: 1.1em;
    }
    .quote-footer {
      font-size: 1.3em;
      margin-top: .5em;
    }
  }
  
  .fact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.6em 0;
    .fact-number {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      font-size: 6em;
      font-weight: 700;
      min-width: 1.3em;
      text-align: center;    
      line-height: 1.2;
    }
    .fact-text {
      margin-top: .4em;
      font-size: 1.25em;
      line-height: 1.3em;
      max-width: 15em;
      text-align: center;
    }
  }  
  .imagelink {
    background-size: cover;
    display: flex;
    background-color: #aaa;
    color: #fff;
    font-weight: 700;
    font-size: 2.7em;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    .imagelink-image {
      width: 100%;
    }
    .imagelink-text {
      position: absolute;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-shadow: 0 1px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.3);
      line-height: 1.15;
      z-index: 1;
      > p {
        margin: 0;
      }
    }
    .imagelink-hover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      transition: background-color .2s linear;
      &:hover {
        background-color: rgba(0,0,0,0.15)
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  .faqs {
    background-color: #eee;
    margin: 1em 0;
    .faq-item.open .faq-indicator-icon {
      transform: rotateZ(90deg);
      transition: transform .3s linear;
    }
    .faq-item {
      padding: 1em;
      .faq-question {
        display: flex;
        .faq-question-text {
          flex-grow: 1;
        }
        border-bottom: 1px solid $primary-color;
        padding: 0 0 .2em 1em; 
        cursor: pointer;
        p {
          font-size: 1.4em;
          margin: 0;
        }      
      }     
      .faq-answer p {
        padding: 1.2em 0 0 1em; 
      } 
    }
  }
  
  .video {
    text-align: center;
    .video__poster, .video__player {
      max-width: 80%;
    }
    .video__poster {
      cursor: pointer;
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0;
    margin: -.5%;
    .gallery__item {
      display: block;
      padding: .5%;
      width: 14.28%;
    }
    .gallery__figure, .gallery__image {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}



.bigimage {
  height: 36vw;
  width: 100%;
  @media (max-width:1023px) {
    height: auto;
  }
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  background-color: lighten($secondary-color, 30);
}
.slides {
  height: 36vw;
  overflow: hidden;
  background-color: lighten($secondary-color, 30);
  .slide {
    padding-top: 100px;
    height: 36vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    .slide-text {
      margin: 0 100px;
      max-width: 12em;
      font-size: 4.5em;
      font-weight: 700;
      text-align: center;
      line-height: 1.1em;
      text-shadow: 0 3px #7b6f67, 0 3px 100px #7b6f67; 
    }
  }
}
.slick-initialized .slick-slide {
  display: flex !important;
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    z-index: 3;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-top: 50px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }
    &:before {
        font-size: 20px;
        line-height: 1;
        color: $primary-color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.slick-prev {
    left: 25px;
}
.slick-next {
    right: 25px;
}

.nohero {
  display: block;
  width: 100%;
  @media (max-width:1023px) {
    height: auto;
  }
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  h1.headline {
    padding: 160px 10px 10px;
    font-weight: 800;
    font-size: 60px;
    @media (max-width:1023px) {
      font-size: 6.5vw;
    } 
    color: $primary-color;
    text-shadow: none;
    text-align: center;
    max-width: 14em;
  }
}

h1.headline {
  padding: 230px 10px 10px;
  font-weight: 800;
  font-size: 60px;
  @media (max-width:1023px) {
    font-size: 6.5vw;
  } 
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.8);
  text-align: center;
  max-width: 14em;
}


@keyframes nav-pop {
	0% {
    opacity: 0;
    transform: translateY(-180px);
	}

	100% {
    opacity: 1;
    transform: translateY(0px);
	}
}
@keyframes nav-pop-out {
	0% {
    opacity: 1;
    transform: translateY(0px);
	}

	100% {
    opacity: 0;
    transform: translateY(-180px);
	}
}

#contactform {
  margin: 1.5em 0;
}