<nav class="custom-navbar navbar-expand-lg navbar-light">

  <div class="nav-redline">
    <div class="nav-before">
    </div>
      
    <div class="nav-container container">
      <div class="header__navs">
        
        <a href="{{ "/" | relLangURL }}" class="header__logo">
          <img src="{{ .Site.Params.logo  | relURL }}" alt="{{ .Site.Title }} - {{ .Site.Params.description }}" class="logo">          
        </a>

        <div class="navbar-light">
          
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="mainnav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                        <li class="mainnav__el {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                            <span class="mainnav__link" href="{{ .URL | absLangURL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </span>
                            {{ if .HasChildren }}
                            <div class="subnav-wrp">
                              <ul class="subnav">
                                {{ range .Children }}
                                <li class="subnav__el {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                  <a class="subnav__link" href="{{ .URL | absLangURL }}">
                                    <div class="subnav__name">
                                      {{ .Name }}
                                      <div class="subnav__fancy"></div>
                                    </div>
                                    <div class="subnav__title">
                                      <div class="subnav__titletext">
                                        {{ .Title }}
                                      </div>
                                    </div>                              
                                  </a>
                                </li>
                                {{ end }}
                                <li class="subnav__el">
                                  <div class="subnav__link subnav__filler">
                                    <div class="subnav__name">&nbsp;</div>
                                    <div class="subnav__title">
                                    </div>                              
                                  </div>
                                </li>

                              </ul>
                            </div>
                            {{ else }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
            <div class="phone-bt">
              <a class="phone-bt__link" href="tel:+431XXXXXXX">
                <img  class="phone-bt__image" src="{{ "/phone.svg" | absURL }}" alt="">
                <div class="phone-bt__number">01/0000000</div>
              </a>
            </div>
            <div class="actionnav">
              <a href="mailto:" class="actionnav__icon">
                <img src="{{ "/mail.svg" | absURL }}" alt="">
              </a>
              <a href="" class="actionnav__icon">
                <img src="{{ "/share.svg" | absURL }}" alt="">
              </a>
            </div>
            
            <div class="langnav">
            {{- range $key, $lang :=  $.Site.Home.AllTranslations }} 
              {{- if ne $key 0 }}/{{- end -}}
              {{- if eq .Language $.Language -}}
                <a class="langnav-active">{{ $lang.Language }}</a>
              {{- else -}}
                <a class="langnav-link" href="{{ $lang.Permalink }}">{{ $lang.Language }}</a>
              {{- end -}}
            {{- end -}}
            </div>
            
          </div> <!-- #navbarText -->
        </div>

      </div>   
               
    </div>
    <div class="nav-after">
    </div>
  </div>

</nav>