<nav class="custom-navbar navbar-expand-lg navbar-light">

  <div class="nav-redline">
    <div class="nav-before">
    </div>
      
    <div class="nav-container container">
      <div class="header__navs">
        
        <a href="{{ relLangURL "/" }}" class="header__logo">
          <img src="{{ relURL .Site.Params.logo   }}" alt="{{ .Site.Title }} - {{ .Site.Params.description }}" class="logo">          
        </a>

        <div class="navbar-light">
          
          
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="mainnav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                        <li class="mainnav__el {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                            <span class="mainnav__link" href="{{ absLangURL .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </span>
                            {{ if .HasChildren }}
                            <div class="subnav-wrp">
                              <ul class="subnav">
                                {{ range .Children }}
                                <li class="subnav__el {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                  <a class="subnav__link" href="{{ absLangURL .URL }}">
                                    <div class="subnav__name">
                                      <div class="subnav__name-pos">{{ .Name }}</div>
                                      <div class="subnav__fancy"></div>
                                    </div>
                                    <div class="subnav__title">
                                      <div class="subnav__titletext">
                                        {{ .Title }}
                                      </div>
                                    </div>                              
                                  </a>
                                </li>
                                {{ end }}
                                <li class="subnav__el">
                                  <div class="subnav__link subnav__filler">
                                    <div class="subnav__name">&nbsp;</div>
                                    <div class="subnav__title">
                                    </div>                              
                                  </div>
                                </li>

                              </ul>
                            </div>
                            {{ else }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
            <div class="phone-bt">
              <!-- <a class="phone-bt__link" href="tel:+431XXXXXXX">
                <img  class="phone-bt__image" src="{{ "/phone.svg" | absURL }}" alt="">
                <div class="phone-bt__number">01/0000000</div>
              </a> -->
              {{ range .Site.Menus.action }}
              <a class="phone-bt__link" href="{{ absLangURL .URL }}">
                <div class="phone-bt__number">{{ .Name }}</div>
              </a>
              {{ end }}
            </div>
            <div class="actionnav">
              <a href="mailto:info@presssta.at" class="actionnav__icon">
                <img class="actionnav__iconimg" src="{{ "/mail.svg" | absURL }}" alt="">
              </a>
              <span class="actionnav__icon">
                <img class="actionnav__iconimg" src="{{ "/share.svg" | absURL }}" alt="" id="share-bt">
                <div class="share-dialog" style="display: none;">
                  {{/*<input type="text" id="share-url" class="sharelink" value="{{ absLangURL .URL }}">*/}}
                  <p>{{ .Site.Params.copylink }}</p>
                  <p>
                    <button class="btn btn-primary share-dialog-close">OK</button>
                  </p>
                </div>
              </span>
            </div>
            
            <!-- <div class="langnav">
            {{- range $key, $lang :=  $.Site.Home.AllTranslations }} 
              {{- if ne $key 0 }}/{{- end -}}
              {{- if eq .Language $.Language -}}
                <a class="langnav-active">{{ $lang.Language }}</a>
              {{- else -}}
                <a class="langnav-link" href="{{ $lang.Permalink }}">{{ $lang.Language }}</a>
              {{- end -}}
            {{- end -}}
            </div> -->
            
          </div> <!-- #navbarText -->
        </div>

      </div>   
      <button class="navbar-tog" type="button" data-toggle="collapse" data-target="#navbarText">
        <span class="navbar-tog-line"></span>
        <span class="navbar-tog-line"></span>
        <span class="navbar-tog-line"></span>
      </button>       
    </div>
    <div class="nav-after">
    </div>
  </div>

</nav>